HOST=host_name
PORT=port_number
DB_HOST=database_host
DB_PORT=database_port_number
DB_USERNAME=database_user_name
DB_PASSWORD=database_password
DB_NAME=database_name
AWS_REGION=aws_region
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_BUCKET_NAME=aws_bucket_name
JWT_SECRET=secret_code_for_token_generation