HOST=host
PORT=port
DB_HOST=host
DB_PORT=port
DB_USERNAME=name
DB_PASSWORD=password
DB_NAME=name
AWS_REGION=region
AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=key
AWS_BUCKET_NAME=address
JWT_SECRET=secret
RABBITMQ_URL=url
RABBITMQ_HOST=host
RABBITMQ_PORT=port